body {
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: rgb(56, 55, 55);
  color: white;
}

header {
  padding: 30px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftlist {
  display: flex;
  align-items: center;
}

li:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 1px;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  text-decoration: none;
}

h2 {
  font-size: xx-large;
  font-weight: 200;
}

#bigcontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

#map {
  width: 900px;
  height: 600px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item {
  background-color: rgb(41, 41, 41);
  border-radius: 3%;
  margin-bottom: 30px;
}

.mapboxgl-popup {
  text-align: center;
  width: 80px;
  height: 50px;
  border-radius: 10%;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  opacity: 100%;
}

.mapboxgl-popup-close-button {
  display: none;
}
@media (max-width: 1680px) {
  #bigcontainer {
    display: flex;
    flex-direction: column;
  }
}
